# Editor configuration #
# #################### #
.idea
.vscode

# Documentation #
# ############# #

docs/_build/**

# Project Egg Info #
# ################ #
eFFORT.egg-info
eFFORT/**/__pycache__/**

